.goalInput {
    text-align: center;
 }
 
 .chooseApp {
     text-align: center;
     margin-top: 10px;
  }
  
  .graphDiv {
     display: flex;
     justify-content: center;
     align-items: center;
  }
 
 #granularityText {
     display: inline-block;
     margin-left: 10px;
     margin-right: 0px;
     vertical-align: middle;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #text1 {
     display: inline-block;
     vertical-align: middle;
     margin-right: 5px;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #text2 {
     display: inline-block;
     vertical-align: middle;
     margin-left: 5px;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #App {
     display: inline-block;
     text-align: left;
 }
 
 #granularity {
     display: inline-block;
     text-align: left;
     margin-left: 10px;
     vertical-align: middle;
 }
 
 #time {
     display: inline-block;
     text-align: left;
     margin-left: 10px;
     vertical-align: middle;
 }

 #graph {
    display: inline-block;
    vertical-align: middle;
 }


 #errorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #errorImg {
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    width: 300px;
 }

 #errorText{
    text-align: center;
    font-size: 18px;
    color:darkgray;
 }

 #screenTimeMonitoring{
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to right, #725CFF 0%, #8AFFFF 100%);
 }

 #stm_text1 {
    color: white;
    font-family: Helvetica;
    margin-bottom: -20px;
 }

 #stm_text2 {
    font-weight: 100;
    font-family: Helvetica;
    color: #363F45; 
 }