#DateScheduleInput{
    display: inline-flex;
    align-items: center;
}

#fromHour, #toHour{
    width: 60px;
    margin-right: 5px;
    margin-left: 5px;
}

#fromMins, #toMins{
    width: 60px;
    margin-right: 5px;
    margin-left: 5px;
}

#TimeScheduleInput{
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
