.goalInput {
    text-align: center;
 }
 


 .chooseApp {
     text-align: center;
     margin-top: 10px;
  }
  
  .graphDiv {
     display: flex;
     justify-content: center;
     align-items: center;
  }
 
 #granularityText {
     display: inline-block;
     margin-left: 10px;
     margin-right: 0px;
     vertical-align: middle;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #text1 {
     display: inline-block;
     vertical-align: middle;
     margin-right: 5px;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #text2 {
     display: inline-block;
     vertical-align: middle;
     margin-left: 5px;
     font-size: 10px;
     font-weight: 600;
     font-family: Helvetica;
 }
 
 #App {
     display: inline-block;
     text-align: left;
 }
 
 #granularity {
     display: inline-block;
     text-align: left;
     margin-left: 10px;
     vertical-align: middle;
 }
 
 #time {
     display: inline-block;
     text-align: left;
     margin-left: 10px;
     vertical-align: middle;
 }

 #graph {
    display: inline-block;
    vertical-align: middle;
 }


 #errorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #errorImg {
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    width: 300px;
 }

 #errorText{
    text-align: center;
    font-size: 18px;
    color:darkgray;
 }

 #screenTimeMonitoring{
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to right, #725CFF 0%, #8AFFFF 100%);
 }

 #stm_text1 {
    color: white;
    font-family: Helvetica;
    margin-bottom: -15px;

 }

 #stm_text2 {
    font-weight: 100;
    font-family: Helvetica;
    color: #363F45; 
    display: flex;
    align-items: center;
 }

#infoButton{
   border-radius: 50%;
   width: 20px;
   height: 20px;
   border: none;
   background-image: url('https://cdn-icons-png.flaticon.com/512/32/32175.png');
   background-size: cover;
   margin-left: 5px;
}

#do_stm_button{
   border-radius: 15px;
   padding: 10px 80px;
   font-size: 15px;
   font-weight: 200;
   font-family: Helvetica;
   background-color: white;
   border:none;
   box-shadow: none;
}

#buttonDiv {
   text-align: center
}

#goBackButton {
   border-radius: 50%;
   width: 30px;
   height: 30px;
   border: none;
   background-image: url('https://cdn.iconscout.com/icon/free/png-256/free-back-arrow-1767523-1502427.png');
   background-size: cover;
}

#input_stm {
   width: 30px;
   margin-left: 5px;
}

#time_stm {
   display: inline-block;
   text-align: left;
   margin-left: 10px;
   vertical-align: middle;
   width: 70px;
   border-radius: 15px;
   background: linear-gradient(to bottom right, #D1D5FA, #A9DFE2);
   font-size: 10px;
   font-weight: 600;
   font-family: Helvetica;
   margin-right: 10px;
}

#add-value-button {
   border-radius: 50%;
   width: 30px;
   height: 30px;
   border: none;
   background-image: url('https://cdn.icon-icons.com/icons2/933/PNG/512/rounded-add-button_icon-icons.com_72592.png');
   background-size: cover;
}

#stm_timeLimit {
   display: flex;
   align-items: center;
   justify-content: center;
}

#goBackToGTP {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   border: none;
   background-image: url('https://cdn.iconscout.com/icon/free/png-256/free-back-arrow-1767523-1502427.png');
   background-size: cover;
   margin-right: 15px;
}

#goBackDiv_stm {
   display: flex;
   align-items: center;
   justify-content: center;
}

#title_stm{
   border-radius: 20px;
   padding-left:60px;
   padding-right:60px;
   background: linear-gradient(to right, #725CFF 0%, #8AFFFF 100%);
   font-family: Helvetica;
}