body {
    font-family: 'Inter', sans-serif;
}

#header {
    position: fixed;
    z-index: 99;
    top: 0;

    width: 100%;
}

#page-dropdown {
    width: auto;
    margin: 0 1rem;
}

#page-container {
    position: relative;
    top: 2rem;

    width: auto;
}

#controller-container {
    /* position: fixed; */

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 7rem;
    margin: 0;
    padding: 2rem 0;

    border-bottom: 1px solid lightgray;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

    gap: 0.5rem;
}

#controller-container h1 {
    font-size: 150%;
    font-weight: 550;

    margin: 0 1rem 1rem 1rem;
    padding: 0;

    color: black;
}

#app-dropdown {
    width: auto;
    margin: 0 1rem;
}

#time-granularity-dropdown {
    width: auto;
    margin: 0 1rem;
}

#stat-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 9rem;
    padding: 8%;

    gap: 2rem;
}

.usage-widget,
.no-data-usage-widget {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin: 0;
    padding: 1rem;

    border-radius: 1rem;
    background: linear-gradient(90deg, #735CFF 0%, #6ddaeb 100%);
    box-shadow: rgba(121, 154, 182, 0.2) 0px 2px 8px 0px;
}

.usage-widget .usage-widget-title {
    font-size: 125%;
    font-weight: 550;

    margin: 0 0 1rem 0;

    color: white;
}

.usage-widget .usage-widget-number {
    font-size: 300%;
    font-weight: 550;

    margin: 0;

    color: white;
}

.usage-widget .usage-widget-desc {
    font-size: 100%;
    font-weight: 400;

    margin: 1rem 0 0 0;

    color: black;
}

#emotion-emojis-widget {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin-bottom: 5%;
    padding: 1rem;

    border-radius: 16px;
    background: #F7F7F7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#emotion-emojis-widget > p {
    font-size: 125%;
    font-weight: 300;

    margin: 0;
}

#emojis-container {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: center;

    width: auto;
    padding: 1rem;
}

.emoji-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: auto;
    margin: 0 1rem;
}

.emoji {
    font-size: 10vw;

    margin: 0 0.5rem;
}

.emotion {
    font-size: 1em;
    font-weight: 300;

    text-align: center;
}
